<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img src="/assets/img/g102.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>PCSHOP 2021</h3>
          <p class="font-italic">
            PC Shops Is a Computer parts online system. You can buy or order pc parts you want to buy here in our PC Shops. 
          </p>
          <ul>
            <li><i class="icofont-check-circled"></i>Mission: We seek to improve the experience in computer basics through technology-driven and value-for-money solutions, fueled by our technical knowledge, enthusiasm for innovation, and customer-centric mindset.</li>
            <li><i class="icofont-check-circled"></i>Vision: To build a better world with Computer business and Technology</li>
          </ul>
          <p>
            Latest Product: G102 is designed to work seamlessly in any system, but if you're looking to fine-tune controls, free-to-download customization software is easy to use and set up. Logitech G HUB software is a complete customization suite that, lets you personalize lighting, sensitivity, and button commands on your G102 mouse.
          </p>
        </div>
      </div>

    </div>
  </section>