<section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <p>System Developer</p>
      </div>

      <div class="row">

        <div class="col-lg-6 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img src="/assets/img/team1.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Mc Roniel De Gozo</h4>
                <span>NodeJS Developer</span>
              </div>
              <div class="social">
                <a href="https://www.facebook.com/ronieldegozo04/"><i class="icofont-facebook"></i></a>
                <a href="https://www.linkedin.com/in/mc-roniel-de-gozo-6466711b8/"><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="200">
            <img src="/assets/img/team2.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Raffy Olavario</h4>
                <span>System Designer</span>
              </div>
              <div class="social">
                <a href="https://www.facebook.com/olavario.r"><i class="icofont-facebook"></i></a>
              </div>
            </div>
          </div>
        </div>



      </div>

    </div>
  </section>