<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Hot New</h2>
        <p>Order our Latest Product</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-starters">Processor</li>
            <li data-filter=".filter-case">PC Case</li>
            <li data-filter=".filter-keyboard">Keyboard</li>
          </ul>
        </div>
      </div>

      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-6 menu-item filter-starters">
          <a href="/assets/img/new/r3.png" class="venobox menu-img" data-gall="gallery-item">
            <img src="/assets/img/new/r3.png" alt="" class="img-fluid">
          </a>
          <!-- <img src="/assets/img/new/1.jpg" class="menu-img" alt=""> -->
          <div class="menu-content">
            <a href="#">Ryzen 3 3200g</a><span>3999</span>
          </div>
          <div class="menu-ingredients">
         AMD
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">

          <a href="/assets/img/new/r5.png" class="venobox menu-img" data-gall="gallery-item">
            <img src="/assets/img/new/r5.png" alt="" class="img-fluid">
          </a>

          <div class="menu-content">
            <a href="#">Ryzen 5 3200G</a><span>6995</span>
          </div>
          <div class="menu-ingredients">
            AMD
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">

          <a href="/assets/img/new/r5.png" class="venobox menu-img" data-gall="gallery-item">
            <img src="/assets/img/new/r5.png" alt="" class="img-fluid">
          </a>
          <div class="menu-content">
            <a href="#">Ryzen 7 3200G</a><span>11 999</span>
          </div>
          <div class="menu-ingredients">
         AMD
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <a href="/assets/img/new/i5.png" class="venobox menu-img" data-gall="gallery-item">
            <img src="/assets/img/new/i5.png" alt="" class="img-fluid">
          </a>
          <div class="menu-content">
            <a href="#">Intel Core I5</a><span>5999</span>
          </div>
          <div class="menu-ingredients">
          INTEL
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <a href="/assets/img/new/i7.png" class="venobox menu-img" data-gall="gallery-item">
            <img src="/assets/img/new/i7.png" alt="" class="img-fluid">
          </a>
          <div class="menu-content">
            <a href="#">Intel Core I7</a><span>19 295</span>
          </div>
          <div class="menu-ingredients">
          RAKK
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-case">
          <a href="/assets/img/new/c1.png" class="venobox menu-img" data-gall="gallery-item">
            <img src="/assets/img/new/c1.png" alt="" class="img-fluid">
          </a>
          <div class="menu-content">
            <a href="#">Alaya</a><span>1495</span>
          </div>
          <div class="menu-ingredients">
            RAKK
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-case">
          <a href="/assets/img/new/c2.png" class="venobox menu-img" data-gall="gallery-item">
            <img src="/assets/img/new/c2.png" alt="" class="img-fluid">
          </a>
          <div class="menu-content">
            <a href="#">MB520 TG</a><span>2995</span>
          </div>
          <div class="menu-ingredients">
            RAKK
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-case">
          <a href="/assets/img/new/c3.png" class="venobox menu-img" data-gall="gallery-item">
            <img src="/assets/img/new/c3.png" alt="" class="img-fluid">
          </a>
          <div class="menu-content">
            <a href="#">MB23 5</a><span>1995</span>
          </div>
          <div class="menu-ingredients">
            RAKK
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-keyboard">
          <a href="/assets/img/new/k1.png" class="venobox menu-img" data-gall="gallery-item">
            <img src="/assets/img/new/k1.png" alt="" class="img-fluid">
          </a>
          <div class="menu-content">
            <a href="#">Logitech G502</a><span>1395</span>
          </div>
          <div class="menu-ingredients">
            LOGITECH
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-keyboard">
          <a href="/assets/img/new/k2.png" class="venobox menu-img" data-gall="gallery-item">
            <img src="/assets/img/new/k2.png" alt="" class="img-fluid">
          </a>
          <div class="menu-content">  
            <a href="#">Hyper X FPS Pro</a><span>1295</span>
          </div>
          <div class="menu-ingredients">
            HYPER X
          </div>
        </div>

      </div>

    </div>
  </section>