<section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>AMD AND INTEL</h2>
        <p>Limited Edition</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-toggle="tab" href="#tab-1">ASUS RTX 3060 TI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-2">RX 560</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-3">RTX 2080</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-4">RX 570</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-5">RX 6700 XT</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>ASUS RTX 3060 TI</h3>
                  <p class="font-italic">The GeForce RTX™ 3060 Ti lets you take on the latest games using the power of Ampere—NVIDIA's 2nd generation RTX architecture. Get incredible performance with enhanced Ray Tracing Cores and Tensor Cores, new streaming multiprocessors, and high-speed G6 memory.</p>
                  <p>Accelerate your entire PC experience with the fast, powerful NVIDIA® GeForce® GT 1030 graphics card. Gaming. HD video and picture editing. The GT 1030's award-winning NVIDIA Pascal™ architecture, powerful graphics engine, and state-of-the-art technologies give you the performance upgrade you need to drive today’s most demanding PC applications.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="/assets/img/gpu/ASUS RTX 3060 Ti.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>RX 560</h3>
                  <p>The Radeon RX 560 is a mid-range graphics card by AMD, launched on April 18th, 2017. Built on the 14 nm process, and based on the Polaris 21 graphics processor, in its Polaris 21 XT variant, the card supports DirectX 12.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="/assets/img/gpu/RX 560.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>RTX 2080</h3>
                  <p>NVIDIA GeForce RTX 2080 SUPER is powered by the award-winning NVIDIA Turing architecture with more cores, higher clocks, and faster memory for ultimate performance and incredible new levels of realism.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="/assets/img/gpu/RTX 2080.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>RX 570</h3>
                  <p>
                    The AMD Radeon RX 570 is a mainstream graphics card for desktop PCs. It was announced in April 2017 and is based on the Polaris 20 chip. It is a refresh of the RX 470 and uses the same chip as the RX 580 (and 580X) with less shaders. The clock speeds are specified as 1,168 - 1,244 (Boost).
                    </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="/assets/img/gpu/RX 570.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>RX 6700 XT</h3>
                  <p>The Radeon RX 6700 XT is the new kid on the block from AMD, and arguably its most important RX 6000 series graphics card launched to date as it's the most affordable (on paper) and targets the heart of the performance segment. The card is designed for high refresh-rate 1440p gaming and capable of real-time raytracing.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="/assets/img/gpu/RX 6700 XT.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>