<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">PCSHOPS</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#menu">Hot New</a></li>
          <li><a href="#specials">Limited Edition</a></li>
          <li><a href="#gallery">Most Sales</a></li>
          <li><a href="#chefs">Developer</a></li>

          <li class="book-a-table text-center"><a href="#book-a-table">Order Product</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>